fastapi
pyjwt
"passlib[bcrypt]"
'bcrypt<4.1.0'
sqlmodel
passlib
dotenv
scalar
pydantic_settings
asyncpg
greenlet
alembic
pydantic
boto3
langchain-google-genai
"unstructured[pdf]"
brew install poppler #mac
pytesseract
brew install tesseract #mac
nltk