fastapi[standard]
pyjwt
passlib[bcrypt]
bcrypt<4.1.0
sqlmodel
passlib
dotenv
scalar
scalar_fastapi
pydantic_settings
asyncpg
greenlet
alembic
pydantic
boto3
langchain-google-genai
unstructured[pdf]
pytesseract
nltk
langchain-postgres
langchain_community